 <div class="container">
			
	<section id="dg-container" class="dg-container">
		<div class="dg-wrapper">

			
			<li>
				<%= image_tag @projects[0].screenshot %>
				<div><%= @projects[0].url %></div>
			</li>
			
			<li>
				<%= image_tag @projects[1].screenshot %>
				<div><%= @projects[1].url %></div>
			</li>
			
			<li>
				<%= image_tag @projects[2].screenshot %>
				<div><%= @projects[2].url %></div>
			</li>
			
			<li>
				<%= image_tag @projects[3].screenshot %>
				<div><%= @projects[3].url %></div>
			</li>
			
			<li>
				<%= image_tag @projects[4].screenshot %>
				<div><%= @projects[4].url %></div>
			</li>
			

			
		</div>

		<nav>	
			<span class="dg-prev">&lt;</span>
			<span class="dg-next">&gt;</span>
		</nav>

	</section>
</div>

















