
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>IX Alumni</title>
		<!-- <link rel="shortcut icon" href="../favicon.ico"> -->

		<%= stylesheet_link_tag    'icons' %>
		<%= stylesheet_link_tag    'normalize' %>
		<%= stylesheet_link_tag    'style3' %>
  		<%= javascript_include_tag 'modernizr.custom' %>
  		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container1">
			
			<%= yield %>


			<nav id="bt-menu" class="bt-menu">
				<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
				<ul>
					<li><a href="#" class="bt-icon icon-user-outline">Home</a></li>
					<li><a href="#" class="bt-icon icon-sun">Porjects</a></li>
					<li><a href="#" class="bt-icon icon-windows">FAQ</a></li>
					<li><a href="#" class="bt-icon icon-speaker">Contact</a></li>
					<li><a href="#" class="bt-icon icon-star">Gallery</a></li>
					<li><a href="#" class="bt-icon icon-bubble">Other</a></li>
				</ul>
			</nav>
		</div><!-- /container -->
	</body>
<!-- 	// <script src="js/classie.js"></script>
	// <script src="js/borderMenu.js"></script> -->
	<%= javascript_include_tag 'classie' %>
	<%= javascript_include_tag 'borderMenu' %>
</html>